*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    height: 100vh;
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    border: 2px solid blue;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
}
.user,
.logo,
.user-detail{
    border: 2px solid red;
}
.logo{
    flex: 1;
    padding: 3px;
}
ul{
    flex: 2;
    text-align: center;
    list-style-type:none;
    border: 2px solid red;
    text-align: end;
    padding: 3px;
}
li{
    border: 2px solid green;
    display: inline;
    padding: 2px 20px ;
    margin-left: 10px;
}
li a{
    text-decoration: none;
}
.user-detail{
    padding: 2px 5px;
}
.user-img{
    border: 2px solid red;
    width: 45px;
    height: 45px;
    object-fit:cover;
    border-radius: 50%;
    margin: 1px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 50px auto;
    border: 2px solid yellow;
    padding: 10px;
    max-width: 80%;
    min-height: 500px;
}
.section1{
    border: 2px solid blue;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    flex: 2;
    min-width: 300px;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sautifi,
.airtime,
.internet{
    border-radius: 25px;
    padding: 5px 20px;
}
.section1-balance{
    text-align: center;
    display: grid;
    
}
.salio{
    font-weight: bold;
    font-size: 1.2rem;
}
.balance{
    font-weight: bolder;
    font-size: 1.8rem;
}
.section1-content{
    border: 2px solid red;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    overflow: none;
    justify-content: space-between;
    
}
.check-balance,
.check-bill,
.transfer,
.deposit{
    text-align: start;
    flex: 1;
    min-width: 120px;
    display: grid;
    gap: 50px;
    padding: 10px 5px;
    font-weight: bold;
}
.section2{
    border: 2px solid blue;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    flex: 1;
    min-width: 200px;
}
.transcript-content{
    overflow-y: scroll;
    max-height: 250px;
    padding: 10px;
    border: 2px solid red;
    flex: 1.5;
}
.transcript-button{
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    flex: 0.5;
}
.audioElement{
    border: 2px solid green;
    width: 100%;
}
.recordButton{
    margin-top: 10px;
    border: 2px solid green;
    padding: 10px 30px;
    border-radius: 5px;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 30px;
    border: 2px solid blue;
}